@font-face {
    font-family: retro;
    src: url(retro.ttf)
}

.header {
    font-family: retro;
    font-size: 40px;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
}

h1 {
    font-family: retro;
}

.outer-container {
    display:flex;
    flex-direction: column;
    
    gap: 50px;
}

.game-container {
    border: 1px solid black;
   
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);

}

.cell {
    border: 1px solid black;
    font-family: retro;
    font-size: 96px;
    text-align: center;
}

.container-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-winner {
    font-family: retro;
    border: none;
    font-size: 2em;
    display:flex;
    display: flex
    justify-content: center;
}

.display-winner-container {
    display: flex;
    justify-content:center;
}